body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #29282D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p {
    margin-top: 0;
    margin-bottom: 53px;
}
* {
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body, html{
    height: 100%;
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main-page-wrapper{
    background: url("./imgg/lion-header1.jpg") center top no-repeat, url("./imgg/bottom-pic1.jpg")  right bottom no-repeat;
}
.conteiner {
    margin: 0 auto;
    width: 1200px;
}
.hero__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}
.header {
    margin-top: 45px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.header__col{
  display: flex;
  align-items: center;  
}
.header__col--align--right{
    justify-content: flex-end;
}
.logo {
    display: block;
    margin-right: 100px;
    
}

.contacts {
    font-style: normal;
    text-align: right;
}
.contacts__desc{
    color: #999;
    font-size: 11px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__item--active .menu__link{
    color: #dfb56d;
}
.menu__link{
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover{
    color: #dfb56d;
}

.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title{
    font-size: 13px;
    text-decoration: underline;
    color: #dfb56d;
}
.hero__text-section{
    width: 38%;   
}
.hero__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}
.hero__subtitle{
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 45px;
}
.btn{
background: #dfb56d;
border-radius: 4px;
padding: 18px 39px;
color: #fff;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.btn--color--ginger:hover{
    background: #dfb56d;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}
.btn:hover {
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}
.btn--color--black{
    background: #202123;
}
.btn--color--grey{
    background: #8d8d8d;
}
.btn--color--grey:hover{
    background: #202123;
}
.btn--color--black:hover {
    background: #d3a556;
}
.section{ 
    margin-bottom: 138px;
}
.offers{
    display: flex;
    justify-content: space-between;
}
.section__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 202px;
}
.offers__item {
    min-height: 470px;
   
    background: #fff;
    border-radius: 4px;
    width: calc(100% / 3 - 18px);
    color: #010001;
    overflow: hidden;
}
.offers__item:last-child{
    margin-right: 0;
}
.offers__item--theme--grey .offers__header:before{
    background: #a5a5a4;
}
.offers__item--theme--blue .offers__header:before{
    background: #556180;
}
.offers__item--theme--gold .offers__header:before{
    background: #8b8b4c;
}

.offers__header{
    min-height: 162px;
    
    position: relative;   
}
.offers__header:before {
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -142px;
    left: 182px;
    background: #ccc;
}
.offers__header-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -32px;
}
.offers__content{
    width: 389px;
    padding: 36px 30px;
    color: #010001;

}
.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.offers__prices-cell{
   margin-right: 25px;
width: 50%;
}
.offers__prices-cell:last-child{
    margin-right: 0;
}
.offers__price{

    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.offers__price-desc{
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    margin-top: 4px;
}
.offers__prices{
    font-size: 36px;
    margin-bottom: 46px;
    display: flex;
}
.offers__btn-wrapper{
    display: flex;
    justify-content: center;
}

.news__item {
    width: 555px;
    min-height: 392px;
    display: inline-flex;
    align-items: flex-end;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    position: absolute;
}
.news__text-content{
   
    padding: 25px 30px;
    z-index: 1;
    min-height: 140px;
    position: relative;
}

.news__data {
    font-size: 15px;
    margin-bottom: 18px;
    text-transform: lowercase;
}
.news__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.pager {
    display: flex;
    justify-content: center;
    align-items: center;

}
.pager__display {
    margin-right: 19px;
    
}
.pager__list{
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
    
}
.pager__item--active .pager__link{
background: #353538;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;

}
.pager__link:hover{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgb(136, 134, 134);
}
.about{
    display: flex;
}
.about:before,
.about__desc{
    border-radius: 4px;
}

.about:before{
    content: "";
    display: block;
    width: 488px;
    height: 502px;
    background: url("./img/chess.jpg") center center/cover no-repeat;
}
.about__desc {
    background: #202123;
    padding: 80px 98px;
   
    width: 780px;
    margin-left: -142px;
    margin-top: 146px;
}
.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}
.about__desc-text {
    margin-bottom: 42px;
}
.about__desc-text p{
    margin-bottom: 20px;
}
.about__desc-text p:last-child {
    margin-bottom: 0;
}
.footer-conteiner__content{
    border-top: 1px solid#353538;
}
.footer {
    height: 152px;
    position: relative;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__cool{
    display: flex;
    align-items: center;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    
}
.socials__item:last-child{
    margin-right: 0;
}
.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials {
    margin-right: 74px;
}
.socials__item--icon--telegram .socials__link{
    background-image: url(./img/t.png);
    border-radius: 50%;

}
.socials__item--icon--telegram .socials__link:hover{
    opacity: 0.7;
}
.socials__item--icon--vk .socials__link{
    background-image: url(./img/vk.png);
    
    border-radius: 50%;
}
.socials__item--icon--vk .socials__link:hover{
    opacity: 0.7;
}
.socials__item--icon--fb .socials__link{
    background-image: url(./img/f.png);
    border-radius: 50%;
}
.socials__item--icon--fb .socials__link:hover{
    opacity: 0.7;
}
.socials__item--icon--insta .socials__link{
    background-image: url(./img/in.png);
    border-radius: 50%;
}
.socials__item--icon--insta .socials__link:hover{
    opacity: 0.7;
}

/* services page*/

.top-line{
    min-height: 412px;
    background:;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background: #202123 url(./services/lion-head-wide\ 1.png) right 20% top no-repeat;
}
.top-line--conteiner{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.page-title{

font-size: 72px;
line-height: 1;
font-weight: bold;
}
.breadcrumbs__item{
    display: flex;
    align-items: center;
}
.breadcrumbs__list{
    display: flex;
    align-items: center;
}
.breadcrumbs__item--active .breadcrumbs__link{
text-decoration: none;
color: #ccc;
}
.breadcrumbs__item:after{
content: "/";
color: #999;
margin: 0 5px;
}
.breadcrumbs__item:last-child:after{
    display: none;
}
.breadcrumbs__link{
color: #dfb56d;
font-size: 14px;
}
.main{
       
}
.page-content{
    background: #fff;
    color: #818181;
    padding: 48px 0;
}
.services{
    display: flex;
    flex-direction: column;
}
.services__item{
    display: flex;
}
.services__item--bottom{
  
    background: #F5F5F5;
    width: 1200px;
    height: 500px;
    margin-top: 67px;
    padding-top: 67px;
    padding-top: 50px;
}
.services__title--bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
    margin-right: 57px;
    margin-left: 57px;
    color: #202123;

   

    
}
.services__img{
    width: 40%;
    
    margin-left: 30px;
}
.services__content{
    flex: 1;
    
}

.services__title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
    margin-right: 120px;
    margin-left: 57px;
    
    color: #202123;
}
.services__desc{
    line-height: 1.7;
    margin-bottom: 53px;
    margin-left: 57px;
}
.services__desc--bottom{
    line-height: 1.7;
    margin-bottom: 53px;
    margin-left: 57px;
    margin-right: 144px;
}
.pager-span{
    display: flex;
    justify-content: center;
    background: #fff;
    width: 100% 100%;
    height: 239px;
    
    color: #000000;
    font-size: 16px;
}
.pager__item--active{
    color: #F5F5F5;
}
.socials__item--banck--rambler{
    background-image: url(./services/rambler.png);
}
.socials-banck{
   
    background:  #fff;
    
    color: #202123;
    padding: 95px 0;
}
.socials-banck--dg{
    background: #f4f5f5;
}
.socials-title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}
.socials-img{
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
}
.socials-img:hover{
    filter: grayscale(0);
}
.socials-ban{
    display: flex;
    flex-wrap: wrap;
}
.content{
    display: flex;
    background: #fff;
    width: 100%;
   height: 100%;
    
}

/*reviews page*/

.reviews__item{
    margin-bottom: 20px;
}
.review{
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #f4f5f5;
}
.reviews{
    column-count: 2;
    column-gap: 30px;
}
.avatar{
    width: 140px;
    height: 140px;
    overflow: hidden;
}
.review__header
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #4d76a1;
    margin-bottom: 11px;
}
.review--user--black{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 11px;
    
}
.review__user::after{
    content: url(./canciuses/vk-blue\ 1.png);
    height: 29px;
    margin-left: 7px;
}
.review__tags{
    display: flex;
    align-items: flex-start;
}
.tag{
    font-size: 13px;
    color: #333;
    padding: 8px 16px;
    border-radius: 50px;
    background: #e6e6e6;
}
.tag--bg--green{
    background: #c7e9d0;
}
.review__title{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 23px;
}
.review__content-text{
    margin-bottom: 50px;
}
.review__data{
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.separator{
    background: #e5c288 url(./canciuses/phone-n-hand\ 1.png) right 20% bottom no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   color: #202123;
  
   
}

.separator__content{
    max-width: 50%;
}
.cseparator__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    margin-right: 150px;
}
/*
.canciuses{
    display: inline-flex;
  border-radius: 5px; 


}

.canciuses__item{
    background: #F4F5F5;
    border-radius: 4px;
    width: 557px;
    min-height: 542px;
    color: #010001;
    align-items: stretch;  
    margin-top: 98px; 
}
.canciuses__item--ecaterina{
    width: 557px;
    min-height: 691px;
    margin-bottom: -77px;
    margin-left: 26px;

}
.canciuses__item--anton{
    position: relative;
    height: 583px;
    margin-top: 97px;
    margin-bottom: 51px;
    margin-left: 26px;
    
}
.canciuses__item--lisa{
    position: relative;
    top: -147px;
}

.all__png{
    position: relative;
    width: 142px;
    height: 142px;
    top: 50px;
    left: 28px;
}
.canciuses__content{
    display: inline;
    position: relative;
   top: -50px;
   left: 200px;
    
    padding-left: 150px;
    
}
.canciuses__title--blue{
    color: #2E77A4;
}

.canciuses__title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;

}
.vk__img{
    position: relative;
   top: -25px;
   left: 157px;
}
.canciuses__btn-wrapper{
    position: relative;
    top: -55px;
    left: 190px;
}
.c{
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 31px;
}
.canciuses__text-desc{
    color: #818181;
    font-size: 16px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 13px;
}
.canciuses__text-bottom{
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 31px;
    padding-top: 48px;
}

.btn--color--blue{
    background:  #B9EAE4;
    color: black;
    font-size: 13px;
    width: 141px;
    height: 20px; 
    border-radius: 35px;
}




.canciuses-content{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #E5C288, #E5C288);
}
    

.canciuses__textbot{
    width: 481px;
height: 195px;
    color: black;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    margin-top: 84px;

}
.canciuses__phone--img{
    display: flex;
    justify-content: flex-end;
    width: 429px;
    height: 320px;
    margin-left: 699px;
    margin-top: -210px;
}
*/
.dropdown:hover{
        position: relative;   
    }
.dropdown:hover .dropdown__menu{
    display: flex;
}
.dropdown__menu{
    position: absolute;
    display: flex;
    justify-content: center;
    background:#EDEDED;
    border: 1px solid black;
    padding: 10px;
   
    width: 160px;
    height: 80px;
    top: 100%;
    border-radius: 5px;    
}
.dropdown{
    display: flex;
    justify-content: center;
   
}

.dropdown__item{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: black;
    padding: 1px;
    margin-top: 5px;
}
.inner-section{
    
    width: 100%;
    height: 100%;
    background: #F4F5F5;
}
.inner-section__title{
    color: black;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 47px;
    margin-top: 72px;
}
.form__row{
    display: flex;
    margin-bottom: 30px;
    
}
.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: black;
}
.form__input::placeholder{
    color: #666;
}
.form__input--textarea{
    height: 232px;
}
.form__controls{
    display: flex;
    margin-bottom: 35px;
}
.form__controls-title{
    width: 40%;
    color: black;
    padding-left: 30px;
}
.controls{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.controls__elem{
    cursor: pointer;
}
.control__checkbox:checked ~ .controls__tag{
    background: #c7e9d0;
}
.control__checkbox{
    display: none;
}
.controls__item{
   
    
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 35px;
}
.form__btns{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 50px;
}
.btn__form{
    margin-right: 20px;
}
.btn__form:last-child{
    margin-right: 0;
}
.btn--color--silver{
    background :#8E8E8E;
}
.form__btns{
    margin-bottom: 98px;
}


/* welcome page*/

.welcome{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("./welcome/splash.png") center bottom / cover no-repeat;
}
.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1.3s;
}
.central__logo{
    margin-bottom: 55px;
}
@keyframes bounce{
0%{
    transform: translateY(0);
}
20%{
    transform: translateY(-30px);
    
}
35%{
    transform: translateY(0);
}
55%{
    transform: translateY(-15px);
}
65%{
    transform: translateY(0);
}
70%{
    transform: translateY(-4px);
}
80%{
    transform: translateY(0);
}
}