body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #29282D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p {
    margin-top: 0;
    margin-bottom: 53px;
}
* {
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body, html{
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main-page-wrapper{
    background: url("./imgg/lion-header1.jpg") center top no-repeat, url("./imgg/bottom-pic1.jpg")  right bottom no-repeat;
}
.conteiner {
    margin: 0 auto;
    width: 1150px;
}
.hero__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}
.header {
    margin-top: 45px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.header__col{
  display: flex;
  align-items: center;  
}
.header__col--align--right{
    justify-content: flex-end;
}
.logo {
    display: block;
    margin-right: 100px;
    
}

.contacts {
    font-style: normal;
    text-align: right;
}
.contacts__desc{
    color: #999;
    font-size: 11px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__item--active .menu__link{
    color: #dfb56d;
}
.menu__link{
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover{
    color: #dfb56d;
}
.contacts{
    font-style: normal;
    text-align: right;
}
.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title{
    font-size: 13px;
    text-decoration: underline;
    color: #dfb56d;
}
.hero__text-section{
    width: 38%;   
}
.hero__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}
.hero__subtitle{
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 45px;
}
.btn{
background: #dfb56d;
border-radius: 4px;
padding: 18px 39px;
color: #fff;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.btn--color--ginger:hover{
    background: #dfb56d;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}
.btn:hover {
    background: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, .15);
}
.btn--color--black{
    background: #202123;
}
.btn--color--black:hover {
    background: #d3a556;
}
.section{ 
    margin-bottom: 138px;
}
.offers{
    display: flex;
    justify-content: space-between;
}
.section__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 202px;
}
.offers__item {
    min-height: 470px;
   
    background: #fff;
    border-radius: 4px;
    width: calc(100% / 3 - 18px);
    color: #010001;
    overflow: hidden;
}
.offers__item:last-child{
    margin-right: 0;
}
.offers__item--theme--grey .offers__header:before{
    background: #a5a5a4;
}
.offers__item--theme--blue .offers__header:before{
    background: #556180;
}
.offers__item--theme--gold .offers__header:before{
    background: #8b8b4c;
}

.offers__header{
    min-height: 162px;
    
    position: relative;   
}
.offers__header:before {
    content: "";
    width: 284px;
    height: 284px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -142px;
    left: 182px;
    background: #ccc;
}
.offers__header-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -32px;
}
.offers__content{
    width: 389px;
    padding: 36px 30px;
    color: #010001;

}
.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.offers__prices-cell{
   margin-right: 25px;
}
.offers__prices-cell:last-child{
    margin-right: 0;
}
.offers__price{

    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.offers__price-desc{
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    margin-top: 4px;
}
.offers__prices{
    font-size: 36px;
    margin-bottom: 46px;
    display: flex;
}
.offers__btn-wrapper{
    display: flex;
    justify-content: center;
}

.news__item {
    width: 555px;
    height: 392px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
}
.news__text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
}

.news__data {
    font-size: 15px;
    margin-bottom: 18px;
    text-transform: lowercase;
}
.news__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.pager {
    display: flex;
    justify-content: center;
    align-items: center;

}
.pager__display {
    margin-right: 19px;
    
}
.pager__list{
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
    
}
.pager__item--active .pager__link{
background: #353538;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;

}
.about{
    display: flex;
}
.about:before,
.about__desc{
    border-radius: 4px;
}

.about:before{
    content: "";
    display: block;
    width: 488px;
    height: 502px;
    background: url("./img/chess.jpg") center center/cover no-repeat;
}
.about__desc {
    background: #202123;
    padding: 80px 98px;
   
    width: 780px;
    margin-left: -142px;
    margin-top: 146px;
}
.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}
.about__desc-text {
    margin-bottom: 42px;
}
.about__desc-text p{
    margin-bottom: 20px;
}
.about__desc-text p:last-child {
    margin-bottom: 0;
}
.footer-conteiner__content
{
    border-top: 1px solid#353538;
}
.footer {
    height: 152px;
    position: relative;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__cool{
    display: flex;
    align-items: center;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    
}
.socials__item:last-child{
    margin-right: 0;
}
.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials {
    margin-right: 74px;
}
.socials__item--icon--telegram .socials__link{
    background-image: url(./img/t.png);
    border-radius: 50%;

}
.socials__item--icon--telegram .socials__link:hover{
    background-image: url(./img/t-hover.png);
}
.socials__item--icon--vk .socials__link{
    background-image: url(./img/vk.png);
    
    border-radius: 50%;
}
.socials__item--icon--vk .socials__link:hover{
    background-image: url(./img/vk-hover.png);
}
.socials__item--icon--fb .socials__link{
    background-image: url(./img/f.png);
    border-radius: 50%;
}
.socials__item--icon--fb .socials__link:hover{
    background-image: url(./img/f-hover.png);
}
.socials__item--icon--insta .socials__link{
    background-image: url(./img/in.png);
    border-radius: 50%;
}
.socials__item--icon--insta .socials__link:hover{
    background-image: url(./img/in-hover.png);
}

/* services page*/

.top-line{
    min-height: 412px;
    background:;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background: #202123 url(./services/lion-head-wide\ 1.png) right 20% top no-repeat;
}
.top-line--conteiner{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.page-title{

font-size: 72px;
line-height: 1;
font-weight: bold;
}
.breadcrumbs__item{
    display: flex;
    align-items: center;
}
.breadcrumbs__list{
    display: flex;
    align-items: center;
}
.breadcrumbs__item--active .breadcrumbs__link{
text-decoration: none;
color: #ccc;
}
.breadcrumbs__item:after{
content: "/";
color: #999;
}
.breadcrumbs__item:last-child:after{
    display: none;
}
.breadcrumbs__link{
color: #dfb56d;
font-size: 14px;
}
.main{
       
}
.page-content{
    background: #fff;
    color: #818181;
    padding: 48px 0;
}
.services{
    display: flex;
    flex-direction: column;
}
.services__item{
    display: flex;
}
.services__item--bottom{
  
    background: #F5F5F5;
    width: 1200px;
    height: 500px;
    margin-top: 67px;
}
.services__title--bottom{
    margin-top: 40px;

    
}
.services__img{
    width: 40%;
    margin-right: 7%;
    margin-top: 110px;
}
.services__content{
    flex: 1;
    
}

.services__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 48px;
    margin-top: 98px;
    color: #202123;
}
.services__desc{
    line-height: 1.7;
    margin-bottom: 53px;
}
.pager-span{
    display: flex;
    justify-content: center;
    background: #fff;
    width: 100% 100%;
    height: 239px;
    
    color: #000000;
    font-size: 16px;
}
.pager__item--active{
    color: #F5F5F5;
}
.socials__item--banck--rambler{
    background-image: url(./services/rambler.png);
}
.socials__banck{
   
    background:  #fff;
    
    color: #202123;
    padding: 95px 0;
}
.socials__banck--dg{
    background: #f4f5f5;
}
.socials__title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}
.socials__img{
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.socials__ban{
    display: flex;
    flex-wrap: wrap;
}
