.benefits{
    display: flex;
    
    @include phones{
        
        flex-direction: column;
        height: 800px;
    }
   
        
    
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones{
        padding: 0;
    }

    &:first-child{
        padding-left: 0;

    }

    &:last-child{
        padding-right: 0;
        
        &:before {
            display: none;
        }
    }

    &:before {
        content: url("../components/img/decor/Shape.png");
        position: absolute;
        top: rem(100px);
        right: 0;
        transform: translateX(50%);

        @include phones{
            display: none;
            
        }
    }
}