.benefits-section{
    
    position: relative;


    &:after{
      content: url("../components/img/decor/list.png");
      position: absolute;

      @include phones{
        display: none;
    
        }

        @include tablets{
            position: absolute;
            top: 6%;
        }
    }

 

    &:before {
        content: url("../components/img/decor/malina.png");
        position: absolute;
        bottom: -30%;
        left: 0;
        
        @include phones{
            display: none;
        }
    }
}