.hero{
    background-color: $blue;
    height: 100vh;
    min-height: rem(650px);
    color: #ffffff;
    position: relative;


    &:after{
        content: url("../components/img/decor/comp.png");
        position: absolute;
        right: 0%;
        bottom: -5%;

        @include tablets{
            position: absolute;
            top: 30%;
            left: 20%;
        }

        @include phones{
            position: absolute;
            top: 26%;
            left: 0%;
        }
    }

    &:before{
        content: url("../components/img/decor/узор1.png");
        position: absolute;
        right: 0%;
        bottom: 0%;

        @include tablets{
            position: absolute;
            top: 6%;
        }

        @include phones{
            position: absolute;
            width: 512px;
            height: 648px;
            
            top: 0%;
            left: 0%;
        }
    }

}
.hero__title-section{
    width: 46%;

    @include tablets{
       width: 100%;
       flex: 1;
       display: flex;
       flex-direction: column;
       justify-content: center; 
       align-items: center;
       text-align: center;

    
    }

    @include phones{
        margin-top: rem(550px);
    }

    @include tablets{
        
        margin-top: rem(582px);
    }
    
}
.hero__icon-section{
    @include tablets{
        display: none;
    }
}
.hero__container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 0 0;

   
}
.hero__main-title{
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;
}
.hero__title-desc{
    width: rem(480px);
    font-size: rem(21px);
    margin-bottom: rem(25px);
    padding-right: 10%;

    @include tablets{
        padding: 0 5%;
    }
}

.chocco{
    position: absolute;
    right: 0%;

    @include phones{
        position: absolute;
        top: 5%;
    }

    @include tablets{
        position: absolute;
        top: 6%;
        left: 15%;
    }

    
}

.list{
    position: absolute;
    left: 0%;
    bottom: 0%;

    @include phones{
        display: none;
    }

    @include tablets{
        display: none;
    }
}