$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

//breakpoints

$tablets: 768px;
$phones: 480px;

@import "media";

@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap');
@import "layout";

@import "./hero.scss";
@import "./header.scss";
@import "./features.scss";
@import "./feature.scss";
@import "./btn.scss";
@import "./section.scss";
@import "./headline.scss";
@import "./benefits.scss";
@import "./benefit.scss";
@import "./benefits-section.scss";
@import "./hero__container.scss";
@import "./reviews__display.scss";
@import "./interactiv-avatar.scss";
@import "./section-display.scss";
@import "./reviews__content.scss";
@import "./order-section.scss";
@import "./form.scss";
@import "./radio.scss";
@import "./fixed-menu.scss";
@import "./map.scss";
@import "./reviews.scss";
@import "./media.scss";
@import "./hamburger.scss";