.section{
    
    height: 100vh;
    max-height: rem(1050px);
   
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include phones{
        min-height: 1000px;
    }

    
   
}
.section__title{
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(100px);
    text-align: center;
    text-transform: uppercase;
}
.section-display{
    margin-top: rem(160px);
}
.section__title-color{
    color: #365a49;
    margin-top: rem(63px);
}
.section__map{
    width: 100%;
}
